.productlist {
  max-width: 1366px;
  margin: 32px auto 50px auto;
  padding: 0 10px;

  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px;

    width: 100%;
  }
}

.categoryButtons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;

  p {
    font-size: 16px;
    color: var(--black);
    font-weight: 700;

    @media (max-width: 768px) {
      font-size: 13px;
    }
  }

  button {
    padding: 10px 0;
    font-weight: bold;

    padding: 0.5rem 1rem;
    border-radius: 20px;
    border: 1px solid var(--silver);
    background-color: var(--white);
    color: var(--black);

    font-size: 16px;
    transition: all 0.2s ease;

    cursor: pointer;

    &:hover {
      background-color: var(--silver-2);
    }

    @media (max-width: 768px) {
      font-size: 13px;
    }
  }
}

.activeButton {
  background-color: var(--black);
  color: var(--white);
  border-color: var(--black);
  font-weight: bold;
  transform: scale(1.05);
}
