.offer {
  &Banner {
    &__content {
      width: 100%;
      img {
        display: block;
        max-width: 100%;
        margin: 0 auto;
        height: auto;
      }
    }
  }

  &Title {
    color: #211915;
    margin: 40px 0;
    text-transform: uppercase;
    text-align: center;
  }
}
