.header {
  width: 100%;
  background-color: var(--black);
  padding: 32px 0;

  &__content {
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 10px;
    color: var(--white);

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  nav {
    ul {
      display: flex;
      align-items: center;
      column-gap: 10px;

      li {
        list-style: none;
        @media (max-width: 768px) {
          font-size: 13px;
        }
      }
    }
  }
}
